:root {
    --title-font: "Libre Baskerville", serif;
    --created-font: "Source Sans 3", sans-serif;
    --text-font: "Work Sans", sans-serif;
    --text-shadow: 1px 1px 3px rgba(119, 105, 105, 0.5);
    --primary-color: #a0455f;
    --hover: #842c4e;
    --layout-color: #dacbcb;
}

.header {
    background-image: linear-gradient(
            to right,
            rgba(79, 75, 75, 0.5),
            rgba(53, 50, 50, 0)
        ),
        url("https://i.pinimg.com/736x/56/a1/1e/56a11e4d59d5fec488e43af6c251ce42.jpg");
    background-size: cover;
    height: auto;
}

.header-title,
.recent,
.more-post,
.add,
.social,
.footer-heading,
#addPostLabel,
.brand,
.footer-copyright,
.category, .status-title, .category-title {
    font-family: var(--title-font);
    font-style: italic;
}

.post-title {
    font-family: var(--title-font);
}

.header-title {
    color: #f2e9ed;
    font-weight: 700;
    text-shadow: var(--text-shadow);
}

.header-posted {
    color: #dedede;
    text-shadow: var(--text-shadow);
}

.header-created,
.category-created, 
.post-created {
    font-family: var(--created-font);
}

.header-text,
.recent-conten,
.more-content,
.add-btn,
.footer-text,
.nav-link,
input,
select,
option,
.continue-reading,
.category-description,
.social-link,
.post-description,
.post-content {
    font-family: var(--text-font);
}

.add-btn {
    height: 50px;
    background-color: var(--primary-color);
}

.add-btn:hover {
    background-color: var(--hover);
}

.navbar,
footer {
    background-color: var(--layout-color);
}

.social-icon {
    color: var(--primary-color);
}

.nav-link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
}

.nav-link:hover {
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 1px solid var(--primary-color);
}
