:root {
    --title-font: "Libre Baskerville", serif;
    /* --text-font: "Source Sans 3", sans-serif; */
    --text-font: "Lato", sans-serif;
    --text-shadow: 1px 1px 3px rgba(119, 105, 105, 0.5);
    --primary-color: #a0455f;
    --hover: #842c4e;
    --layout-color: #dacbcb;
}

* {
    font-family: var(--text-font);
}

.title, .post-title, .footer-heading {
    font-family: var(--title-font);
    font-style: italic;
}

.badge {
    background-color: var(--primary-color);
}

.btn-save, .btn-new {
    background-color: var(--primary-color);
    color: white;
}

.btn-save:hover, .btn-new:hover {
    background-color: var(--hover);
}

.navbar,
footer {
    background-color: var(--layout-color);
}

.nav-link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
}

.nav-link:hover {
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 1px solid var(--primary-color);
}
